.macro-suggestions-container.delete-confirm {
  min-width: 240px;
}

.delete-confirm-message {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.delete-confirm-command {
  font-family: monospace;
}

.macro-suggestions-command-item.delete-confirm-option {
  max-width: none;
}
